@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

:root {
  --font: "Rubik";
}

body {
  margin: 0;
  padding: 0;
  /* fonts */
  font-family: var(--font), sans-serif;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-weight: 800;
  font-size: 30px;
}

/* Navigation bar INCOMPLETE*/

/*======================================================
                          Navbar
  ======================================================*/

.logo {
  width: 200px;
}
.nav-bar a
/* ,.header h1  */ {
  font-family: Rubik;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-bar a:hover,
.nav-bar a:active {
  color: #184b9a;
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  margin: 0px 50px;
}

.align-center {
  display: flex;
  justify-content: space-between;
  margin: auto;
  /* width: 50%; */
  margin-left: 80px;
}

.align-center a,
.align-right a {
  padding: 30px;
  text-decoration: none;
}
/* h1 {
  font-size: 40px;
  font-weight: 500;
} */

/* Hero section */

.header {
  /* margin: 60px 0px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.header-text {
  margin-bottom: 50px;
}

.paragraph-text {
  /* width: 600px; */
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
}

.call-to-action {
  font-size: 15px;
  background: #184b9a;
  color: white;
  padding: 10px 30px;
  margin-top: 40px;
  border-radius: 20px;
}

.forward-icon {
  background: white;
  border-radius: 50%;
  background: #ffb630;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.containers {
  display: flex;
  justify-content: center;
  margin: 80px;
}

/* Team composition  icons */
.team-icon {
  width: 20px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}
.team-icon-1 {
  background: #ffb630;
}

.team-icon-2 {
  background: #184b9a;
}
.team-icon-3 {
  background: #0b9922;
}

.team-content {
  width: 100%;
  /* margin: 0px 30px 0px 30px; */
  margin: 2px;
}

.content {
  margin: 20px;
}

.content,
.event-content,
.team-content {
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 1px 2px 0px rgba(117, 117, 117, 0.25),
    -1px -1px 2px 0px rgba(117, 117, 117, 0.25);
}

.about-img {
  border-radius: 20px;
}

.content h2 {
  font-weight: 200;
}

/* about page */
.about-header {
  width: 100%;
  height: 400px;
  padding: 30px;
  color: whitesmoke;
  background-image: url("/images/coding.jpeg");
  background-repeat: no-repeat;
}
.about-banner {
  height: 70vh;
  background: black;
  border-radius: 10px;
  border: 2px solid #d7b233;
}

.team-img {
  display: flex;
  margin-left: 150px;
}

.team-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background: #d7b233;
  color: whitesmoke;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
}
.team-btn a {
  color: whitesmoke;
  text-decoration: none;
}

/* FAQ  */

.faq-heading {
  border-bottom: #777;
  padding: 20px 60px;
}
.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hr-line {
  width: 60%;
  margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}
.faq-body {
  margin: auto;
  /* text-align: center; */
  width: 50%;
  padding: auto;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #f9f9f9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.faq-page:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/*  Footer */

.footer-container {
  border: 2px, solid, #d7b233;
  width: 100%;
  height: auto;
  background: black;
  color: whitesmoke;
  margin: 0px;
  padding: 0;
}

.footer-content {
  width: 80%;
  margin: 0 auto 0 auto;
}

.social ul {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.credit ul {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.credit li {
  padding: 20px;
  text-decoration: none;
  list-style-type: none;
}
.credit a {
  color: whitesmoke;
}

/*  About page */

.About-header {
  margin: 0px;
  padding: 0;
}
.abt-header {
  font-family: "Archivo Black", sans-serif;
  font-weight: 200;
  font-size: 80px;
  margin-top: 20px;
}

.About-header h3 {
  font-size: 20px;
  margin: 0px;
  padding-top: 0px;
}

/* Mission statement section */
.mission-statement {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

.mission-image img {
  width: 500px;
  height: auto;
  margin-top: 0px;
  margin-left: 20px;
  border-radius: 10px;
}

.mission-content {
  padding-bottom: 100px;
  color: black;
}

.mission-content p {
  font-size: 16px;
}
/* Story Section */

.our-story h1 {
  margin-top: 40px;
}

.our-story p,
.constitutions p,
.aims p {
  width: 50%;
  margin: auto;
  line-height: 30px;
}

/* test */

/* The subnavigation menu */

/* The navigation menu */
.navbar {
  overflow: hidden;
  /* background-color: #333; */
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: none;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  justify-content: center;
  position: absolute;
  top: 80;
  right: 350;
  background: black;
  width: 100px;
  height: auto;
  z-index: 1;
  padding: 20px;
  opacity: 90%;
}

/* Style the subnav links */
.subnav-content a {
  display: block;
  justify-content: center;
  float: right;
  color: white;
  text-decoration: dashed;
  padding: 0px;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* Events section */

.featured-events {
  display: flex;
  justify-content: space-between;
}
.event-content {
  margin: 30px;
}

.events-content p {
  width: 100%;
  margin: 0;
  line-height: 30px;
  font-size: 16px;
}

.featured-image img {
  margin: 30px;
  width: 500px;
}

.events-content h2,
.events-content a {
  font-size: 25px;
}

.ticket {
  margin: 40px;
  padding: 10px 50px;
  background: #7f1f9a;
  color: whitesmoke;
  font-size: 20px;
  border-radius: 20px;
}
.event-info p {
  margin-bottom: 20px;
}

/* Contact page */

.feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid lightseagreen;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 50%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid red;
}

textarea {
  height: 150px;
  width: 50%;
  line-height: 150%;
  /* resize:vertical; */
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 50%;
  background: lightseagreen;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: 0px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}

/* footer */

/* * {
  font-family: Open Sans;
} */

.footer-distributed {
  background: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  border-radius: 10px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
  padding: 30px;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

/* .logo img {
  width: 250px;
} */

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 20%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
  height: auto;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* footer links effect */
.footer-links li:hover,
.footer-icons a:hover {
  color: lightseagreen;
  zoom: normal;
}

.footer-right p {
  color: whitesmoke;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .containers {
    display: grid;

    align-items: center;
  }
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

* {
  border: 1px solid red;
}
